<%-include('./partials/boilerplate') %>
<div class="home">

  <h1>Cocktail Cabinet</h1>
  <hr class="hr-sm">
  <p class="tagline">A place to explore cocktail recipes</p>
  <hr class="hr-sm">
  <br>
  <form action="POST">
    <input type="Liqour" placeholder="Liquor">
    <br>
    <br>
    <input type="Cocktail" placeholder="Cocktail">
    <br>
    <br>
    <input class="usersubmit" type="submit" value="submit" />
  </form>
</div>